@import "../index.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  justify-content: space-around;
  align-self: flex-start;
  justify-self: flex-start;
  gap: 5rem;
  margin-top: 6rem;
}

.title {
  font-size: 1.7rem;
  color: var(--neutral-800);
}

.darkMode {
  .title {
    color: var(--neutral-500);
  }
}

@media (max-width: 768px) {
  .container {
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-size: 1.2rem;
  }

  .social {
    display: none;
  }
}
